<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.wrkify">

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewBidsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ViewTaskActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ViewProfileActivity" />
        <activity
            android:name=".EditTaskActivity"
            android:parentActivityName=".ViewTaskActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TestActivity"></activity>

        <!--Provider taken from https://developer.android.com/training/camera/photobasics.html -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ca.ualberta.cs.wrkify.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>